!!!
%html{ dir: 'ltr', lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title= current_page.data.title || 'DnD Character Generator'
    %meta{ name: 'author', content: 'Sean Eshbaugh, originally by Ed Friedlander MD' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'screen', media: 'screen'
    = javascript_include_tag 'all'
    %link{ href: '//fonts.googleapis.com/css?family=Raleway:400,300,600', rel: 'stylesheet', type: 'text/css' }/
  %body{ class: page_classes }
    .container
      = yield
